
@font-face{
    font-family: Abril;
    src: url(../fonts/Abril_Fatface/AbrilFatface-Regular.ttf);
}

@font-face{
    font-family: Anton;
    src: url(../fonts/Anton/Anton-Regular.ttf);
}

@font-face{
    font-family: Cookie;
    src: url(../fonts/Cookie/Cookie-Regular.ttf);
}

@font-face{
    font-family: Courgette;
    src: url(../fonts/Courgette/Courgette-Regular.ttf);
}

@font-face{
    font-family: Lobster;
    src: url(../fonts/Lobster/Lobster-Regular.ttf);
}

@font-face{
    font-family: Montserrat;
    src: url(../fonts/Montserrat/Montserrat-Regular.ttf);
}

@font-face{
    font-family: Poppins;
    src: url(../fonts/Poppins/Poppins-Regular.ttf);
}

@font-face{
    font-family: Questrial;
    src: url(../fonts/Questrial/Questrial-Regular.ttf);
}

@font-face{
    font-family: Raleway;
    src: url(../fonts/Raleway/Raleway-Regular.ttf);
}